certifi==2019.11.28
chardet==3.0.4
Click==7.0
dnspython==1.16.0
Flask==1.0.2
Flask-Login==0.4.1
Flask-PyMongo==2.2.0
Flask-Uploads==0.2.1
Flask-WTF==0.14.2
gunicorn==19.9.0
heroku==0.1.4
idna==2.8
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.0
perl==1.0.0
pycparser==2.19
pymongo==3.7.2
python-dateutil==1.5
requests==2.22.0
six==1.11.0
urllib3==1.25.8
Werkzeug==0.14.1
WTForms==2.2.1
