@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

h1 {
    font-family: Roboto, sans-serif;
}

body {
   padding-top: 70px;
}

.jumbotron {
  background-image: url(../images/movie-jumbotron.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  margin-top: 0.5rem;
  max-width: 100%;
  height: auto;
}


