{% extends 'base.html' %} {% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
            <h2>Create Review</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xs-offset-3">
            <form action="{{ url_for('insert_task') }}" method="POST" class="col s12">
                <div class="form-group">
                    <label class="form-label">Title</label>
                    <input type="text" class="form-control" id="title" name="title" placeholder="Title"
                           tabindex="1" required>
                </div>
                <div class="form-group">
                    <label class="form-label">Director</label>
                    <input type="text" class="form-control" id="director" name="director" placeholder="Director"
                           tabindex="2" required>
                </div>
                <div class="form-group">
                    <label class="form-label">Actors</label>
                    <input type="text" class="form-control" id="actors" name="actors"
                           placeholder="Actors" tabindex="3">
                </div>
                <div class="form-group">
                    <label class="form-label">Running-time</label>
                    <input type="text" class="form-control" id="running_time" name="running_time"
                           placeholder="Running-time (minutes)" tabindex="3">
                </div>
                <div class="form-group">
                    <label class="form-label">Image</label>
                    <input type="text" class="form-control" id="image" name="image"
                           placeholder="Image" tabindex="3">
                </div>
                <div class="form-group">
                    <label class="form-label">Storyline</label>
                    <textarea rows="5" cols="50" name="description" class="form-control" id="description"
                              placeholder="Storyline..." tabindex="4" required></textarea>
                </div>
                <div class="form-group">
                    <label class="form-label">Review</label>
                    <textarea rows="5" cols="50" name="review" class="form-control" id="review"
                              placeholder="Review..." tabindex="4" required></textarea>
                </div>
                <div class="row col">
                    <button class="btn btn-outline-primary" type="submit">Create
                        <i class="material-icons right">playlist_add</i>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}