{% extends 'base.html'%} {% block content %}
<div class="container">
    <header class="jumbotron my-4">
        <h1 class="display-3 text-info text-right">Flix</h1>
        <p class="lead text-info text-right">Find, Create & Review</p>
        <div class="row">
            <div class="col-lg-4">
                <form class="input-group mb-3" action="{{ url_for('search') }}">
                    <input class="form-control float-right" type="text" name="query"/>
                    <div class="input-group-append">
                        <button class="btn btn-info" type="submit">Find Reviews!</button>
                    </div>
                </form>
            </div>
        </div>
    </header>

    <div class="row text-center">
        {% for task in tasks %}
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card" style="width: 16rem;">
                <img src="{{task.image}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{task.title}}</h5>
                    <a href="{{url_for('review', review_id=task._id)}}" class="btn btn-info" role="button" aria-pressed="true">Info</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}