{% extends 'base.html' %}
{% block content %}

    <header class="jumbotron">
      <h2 class="index_title title_position_ipad">Flix</h2>
      <div class="row">
        <div class="search_recipe input-field col s6 l3">
            <form action="{{ url_for('collection') }}" method="POST">
              <input class="index_searchbox text_search_padding" name="query" type="text">
        </div>
        <div class="find_recipes_button col s6 l3">
          <button class="btn waves-effect waves-light" type="submit" name="action">Find Reviews
            <i class="material-icons right">send</i>
          </button>
          </form>
        </div>
      </div>
    </header>

{% endblock %}